$size: 160px;
.item {
  @media screen and (min-width: 800px) {
    padding: 150px;
  }
  @media screen and (max-width: 800px) {
    padding: 100px;
  }

  //.title {
  //  color: rgba(38, 38, 40, 0.72);
  //}
}

@keyframes moveUp {
  from {
    opacity: 0%;
    transform: translateY(100px);
  }

  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}

@keyframes moveDown {
  from {
    opacity: 0%;
    transform: translateY(-100px);
  }

  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}


@keyframes moveLine {
  from {
    width: 0%;
  }

  to {
    width: 100%;

  }
}

.content_1 {
  //padding: 150px;
  height: 60vh;
  background-color: whitesmoke;

  /* 0の位置からy軸に200px動くことが書かれてる */


  hr {
    height: 5px;
    //size: 200px;
    animation-name: moveLine;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    //animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    width: 100%;
  }

  .title {
    font-size: 60px;
    animation-name: moveUp;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    //animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }

  .subTitle {
    animation-name: moveDown;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    //animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
}

@keyframes contentBg {
  //from {
  //  background: rgb(71, 71, 71)
  //}
  //to{
  //  background: linear-gradient(45deg, rgb(71, 71, 71) 0%, #5e5e5e 50%, #bdbdbd 50%, #f6f6f6 100%);
  //
  //}
}

@-webkit-keyframes animate1 {
  0% {
    background-position: 10% 0%
  }
  50% {
    background-position: 91% 100%
  }
  100% {
    background-position: 10% 0%
  }
}

@-moz-keyframes animate1 {
  0% {
    background-position: 10% 0%
  }
  50% {
    background-position: 91% 100%
  }
  100% {
    background-position: 10% 0%
  }
}

/* Standard syntax */
@keyframes animate1 {
  0% {
    background-position: 200px 200px
  }
  100% {
    background-position: 0px 0px
  }
}


.content_2 {
  a {
    text-decoration: none;
    color: whitesmoke;
  }

  background: linear-gradient(45deg, rgb(71, 71, 71) 0%, #5e5e5e 50%, #bdbdbd 50%, #f6f6f6 100%);
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;

  -webkit-animation: animate1 2s ease;
  -moz-animation: animate1 2s ease;
  animation: animate1 2s ease;

  height: 40vh;

  .left {
    color: rgb(255, 255, 255);
  }

  .right {
    color: #363636;
  }
}

.content_3 {
  height: 50vh;
  background-color: #f2f6f6;


}

.icon {
  //position: center;
  width: $size;
  height: $size;
  border-radius: 50%;
  background-position: center;
  background-image: url("../imgs/icon.png");
}